.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .info-item {
    font-size: 14px;
    margin-right: 20px;
  }

  .logo {
    width: 500px;  /* Set a wider width */
    height: auto;  /* Keep the aspect ratio */
    margin-right: 20px; /* Add some space between logo and text */
  }
  
  
  .info-item strong {
    font-weight: bold;
  }